<ion-view view-title="Home Page" hide-nav-bar="false" cache-view="false" id="homePage">
  <ion-content padding="true" class="has-header">
    <button id="homePage-button4" class="button button-positive  button-block" ng-click="newRecord()">New Record</button>
    <button id="homePage-button13" class="button button-positive  button-block" ng-click="modifyRecord()">Modify Record</button>
    <!--<button id="homePage-button5" class="button button-positive  button-block" ng-click="searchRecord()">Search Record</button>-->
    <button id="homePage-button6" class="button button-positive  button-block" ng-click="options()">Options</button>
    <div class="spacer" style="width: 300px; height: 196px;"></div>
    <button id="homePage-button8" class="button button-positive button-large button-outline" ng-click="signOut()">Sign out</button>
  </ion-content>
</ion-view>