<ion-view title="Home Page" id="page4">
  <ion-content padding="true" class="has-header">
    <a ui-sref="newRecord" id="homePage-button4" class="button button-positive  button-block">New Record</a>
    <button id="homePage-button5" class="button button-positive  button-block">Search Record</button>
    <button id="homePage-button6" class="button button-positive  button-block">Options</button>
    <div class="spacer" style="height: 100px;"></div>
    <div class="spacer" style="width: 300px; height: 148px;"></div>
    <a ui-sref="login" id="homePage-button8" class="button button-positive button-large button-outline">Sign out</a>
  </ion-content>
</ion-view>