<ion-view view-title="New Record" hide-nav-bar="false" id="newRecord">
  <ion-content padding="true" class="has-header">
    <form name="signForm" id="signForm" class="list">
      <label class="item item-input" id="newRecord-input6">
        <span class="input-label">Msrmt #:</span>
        <input type="text" placeholder="" ng-model="data.msrmt">
      </label>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <label class="item item-input" id="newRecord-input7">
        <span class="input-label">0.2 Alpha Legend:</span>
        <input type="text" placeholder="" ng-model="data.twoAlphaLegend">
      </label>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <label class="item item-input" id="newRecord-input8">
        <span class="input-label">0.5 Alpha Legend:</span>
        <input type="text" placeholder="" ng-model="data.fiveAlphaLegend">
      </label>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <label class="item item-input" id="newRecord-input9">
        <span class="input-label">0.2 Alpha Bkgrnd:</span>
        <input type="text" placeholder="" ng-model="data.twoAlphaBkgrnd">
      </label>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <label class="item item-input" id="newRecord-input10">
        <span class="input-label">0.5 Alpha Bkgrnd:</span>
        <input type="text" placeholder="" ng-model="data.fiveAlphaBkgrnd">
      </label>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <label class="item item-input" id="newRecord-input11">
        <span class="input-label">Date:</span>
        <input type="text" placeholder="" ng-model="data.date">
      </label>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <label class="item item-input" id="newRecord-input17">
        <span class="input-label">Time:</span>
        <input type="text" placeholder="" ng-model="data.time">
      </label>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <label class="item item-input" id="newRecord-input18">
        <span class="input-label">Latitude:</span>
        <input type="text" placeholder="" ng-model="data.latitude">
      </label>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <label class="item item-input" id="newRecord-input15">
        <span class="input-label">Longitude:</span>
        <input type="text" placeholder="" ng-model="data.longitude">
      </label>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <label class="item item-input" id="newRecord-input16">
        <span class="input-label">Position Accuracy (m):</span>
        <input type="text" placeholder="" ng-model="data.accuracy">
      </label>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <label class="item item-input" id="newRecord-input12">
        <span class="input-label">Barcode:</span>
        <input type="text" placeholder="" ng-model="data.barcode">
      </label>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <label class="item item-input" id="newRecord-input13">
        <span class="input-label">Standard Comments:</span>
        <input type="text" placeholder="" ng-model="data.standardComments">
      </label>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <label class="item item-input" id="newRecord-input14">
        <span class="input-label">User Comment:</span>
        <input type="text" placeholder="" ng-model="data.userComments">
      </label>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <label class="item item-input" id="newRecord-input15">
          <span class="input-label">Direction:</span>
          <input type="text" placeholder="" ng-model="data.direction">
      </label>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <label class="item item-input" id="newRecord-input16">
          <span class="input-label">Height:</span>
          <input type="text" placeholder="" ng-model="data.height">
      </label>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <label> Current Image </label>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <img ng-repeat="image in images" ng-src="{{urlForImage(image)}}" height = "500px"/>
      <button id="modifyRecord-button11" style="border-radius:14px 14px 14px 14px;" class="button button-positive"  button-block ng-click="addMedia()">Add Image </button>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <button id="modifyRecord-button10" style="border-radius:14px 14px 14px 14px;" class="button button-positive"  button-block ng-click="updateRecord()">Submit Modified Record </button>
      <button id="modifyRecord-button9" style="border-radius:14px 14px 14px 14px;" class="button button-positive" ng-click="cancelNR()">Cancel </button>
    </form>
  </ion-content>
</ion-view>
