<ion-view title="New Record" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="newRecord-form3" class="list">
      <label class="item item-input" id="newRecord-input6">
        <span class="input-label">Msrmt #:</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <label class="item item-input" id="newRecord-input7">
        <span class="input-label">0.2 Alpha Legend:</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <label class="item item-input" id="newRecord-input8">
        <span class="input-label">0.5 Alpha Legend:</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <label class="item item-input" id="newRecord-input9">
        <span class="input-label">0.2 Alpha Bkgrnd:</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <label class="item item-input" id="newRecord-input10">
        <span class="input-label">0.5 Alpha Bkgrnd:</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <label class="item item-input" id="newRecord-input11">
        <span class="input-label">Date:</span>
        <input type="date" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <label class="item item-input" id="newRecord-input17">
        <span class="input-label">Time:</span>
        <input type="time" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <label class="item item-input" id="newRecord-input18">
        <span class="input-label">Latitude:</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <label class="item item-input" id="newRecord-input15">
        <span class="input-label">Longitude:</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <label class="item item-input" id="newRecord-input16">
        <span class="input-label">Position Accuracy (m):</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <label class="item item-input" id="newRecord-input12">
        <span class="input-label">Barcode:</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <label class="item item-input" id="newRecord-input13">
        <span class="input-label">Standard Comments:</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <label class="item item-input" id="newRecord-input14">
        <span class="input-label">User Comment:</span>
        <input type="text" placeholder="">
      </label>
      <a ui-sref="homePage" id="newRecord-button10" style="border-radius:14px 14px 14px 14px;" class="button button-positive  button-block">Submit New Record</a>
      <a ui-sref="homePage" id="newRecord-button9" style="border-radius:14px 14px 14px 14px;" class="button button-positive">Cancel</a>
    </form>
  </ion-content>
</ion-view>