    <ion-view title="Options" id="options">
	
      <ion-header-bar class="bar-stable">
	  
	  <h1 class="title">
	  Options Menu
	  </h1>
    
	  </ion-header-bar>
      
	  <ion-content>
	  
		<div class="options">
		
		<ion-toggle ng-model="confirmBox" toggle-class="toggle-calm">Confirm Box</ion-toggle>
		<ion-toggle ng-model="remember" toggle-class="toggle-calm">Remember Login</ion-toggle>
		
		<!--<label class="item item-input">
		Input File
		<input type="text" placeholder="input file name" id="user">
		</label> -->
		
		<ion-item>
		<ion-label floating>Input File</ion-label>
		<input type="text" placeholder="" ng-model="data.inputFile">
		</ion-item>
		
		<ion-item>
		<ion-label floating>Output File</ion-label>
		<input type="text" placeholder="" ng-model="data.inputFile">
		</ion-item>
		
		<ion-item>
		<ion-label floating>Firebase Account</ion-label>
		<ion-label id="currentAccount">test</ion-label>
		</ion-item>
		
			<div class="item item-input-inset">
				<button class="button button-full button-positive button-stable" id="btest" ng-click="oQuit()">
				Quit
				</button>
				<button class="button button-full button-positive button-stable" id="btest" ng-click="oSubmit()">
				Submit
				</button>
			</div>	
		</div>
      </ion-content>
	  
    </ion-view>